Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

Задания:

1) Заменим html-сущности (к примеру: &lt; &gt; &amp;). "&lt;" заменим на “<” и "&amp;" заменим на “&”)""". Сделаем это с помощью HTMLParser.unescape(). Всю предобработку делаем в новом столбце 'clean_tweet'

2) Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()
при применении функции необходимо использовать np.vectorize(function).

3) Изменим регистр твитов на нижний с помощью .lower().

4) Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

5) Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6) Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

7) Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

8) Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

9) Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

10) Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

11) Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

12) Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

13) Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

14) Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

15) Сохраним результат предобработки в pickle-файл.

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head(2)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...

In [4]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head(2)

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...

In [5]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head(2)

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...

In [6]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

1. Заменим html-сущности (к примеру: &lt; &gt; &amp;). "&lt;" заменим на “<” и "&amp;" заменим на “&”)""". Сделаем это с помощью HTMLParser.unescape()

In [7]:
from html import unescape

In [8]:
combine_df['clean_tweet'] = combine_df['tweet'].apply(lambda x: unescape(x))
combine_df.head(2)

   id  ...                                        clean_tweet
0   1  ...   @user when a father is dysfunctional and is s...
1   2  ...  @user @user thanks for #lyft credit i can't us...

[2 rows x 4 columns]

In [9]:
combine_df.tweet.str.contains('&lt;').any()

True

In [10]:
combine_df.clean_tweet.str.contains('&lt;').any()

False

2. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()
при применении функции необходимо использовать np.vectorize(function)

In [11]:
def nickname_drop(tweet):
  return re.sub('@[\w]*', ' ', tweet)
    
cln_tweet = np.vectorize(nickname_drop)
combine_df["clean_tweet"] = cln_tweet(combine_df['clean_tweet'])
combine_df.head(2)

   id  ...                                        clean_tweet
0   1  ...     when a father is dysfunctional and is so se...
1   2  ...      thanks for #lyft credit i can't use cause ...

[2 rows x 4 columns]

In [12]:
combine_df.clean_tweet.str.contains('@').any()

False

3. Изменим регистр твитов на нижний с помощью .lower()

In [13]:
combine_df['clean_tweet'] = combine_df['clean_tweet'].apply(lambda x: x.lower())
combine_df.head(2)

   id  ...                                        clean_tweet
0   1  ...     when a father is dysfunctional and is so se...
1   2  ...      thanks for #lyft credit i can't use cause ...

[2 rows x 4 columns]

4. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [14]:
def clean_by_dictionary(tweet, _dict):
    for word in tweet.split():
        if word in _dict:
            tweet = re.sub(word, _dict[word], tweet)
    return tweet


combine_df['clean_tweet'] = combine_df['clean_tweet'].apply(
    lambda x: clean_by_dictionary(str(x), apostrophe_dict))



# def replace_by_emoticon_dict(tweet, _dict):
#     final_tweet = []
#     for word in tweet.split():
#         try:
#             final_tweet.append(_dict[word])
#         except KeyError as e:
#             final_tweet.append(word)
#     return ' '.join(final_tweet)

In [15]:
combine_df.head(2)

   id  ...                                        clean_tweet
0   1  ...     when a father is dysfunctional and is so se...
1   2  ...      thanks for #lyft credit i cannot use cause...

[2 rows x 4 columns]

5. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [16]:
combine_df['clean_tweet'] = combine_df['clean_tweet'].apply(
    lambda x: clean_by_dictionary(str(x), short_word_dict))

In [17]:
combine_df.head(2)

   id  ...                                        clean_tweet
0   1  ...     when a father is dysfunctional and is so se...
1   2  ...      thanks for #lyft credit i cannot use cause...

[2 rows x 4 columns]

6. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [18]:
# combine_df['clean_tweet'] = combine_df['clean_tweet'].\
#           apply(lambda x: clean_by_dictionary(x, emoticon_dict))
def clean_by_dictionary1(tweet, dictionary):
    return " ".join([dictionary[x] if x in dictionary else x for x in re.split(r"[\s\.,;:]+", tweet)])
combine_df['clean_tweet'] = np.vectorize(lambda x: clean_by_dictionary1(x, emoticon_dict))(combine_df['clean_tweet'])

In [19]:
combine_df.head(2)

   id  ...                                        clean_tweet
0   1  ...   when a father is dysfunctional and is so self...
1   2  ...   thanks for #lyft credit i cannot use cause th...

[2 rows x 4 columns]

7. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [20]:
combine_df['clean_tweet'] = combine_df['clean_tweet'].apply(lambda x: re.sub(r'[^\w\s]','', x))

8. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [21]:
combine_df['clean_tweet'] = combine_df['clean_tweet'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]','', x))

9. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [22]:
combine_df['clean_tweet'] = combine_df['clean_tweet'].apply(lambda x: re.sub(r'[^a-zA-Z\s]','', x))

10. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [23]:
combine_df['clean_tweet'] = combine_df['clean_tweet'].apply(
    lambda x: ' '.join([w for w in x.split() if len(w)>1]))

In [24]:
combine_df.head(2)

   id  ...                                        clean_tweet
0   1  ...  when father is dysfunctional and is so selfish...
1   2  ...  thanks for lyft credit cannot use cause they d...

[2 rows x 4 columns]

11. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [25]:
# nltk.download('punkt')
# nltk.download('stopwords')
# nltk.download('wordnet')

In [26]:
combine_df['tweet_token'] = combine_df['clean_tweet'].apply(lambda x: nltk.tokenize.word_tokenize(x))

combine_df.head(2)

   id  ...                                        tweet_token
0   1  ...  [when, father, is, dysfunctional, and, is, so,...
1   2  ...  [thanks, for, lyft, credit, can, not, use, cau...

[2 rows x 5 columns]

12. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [27]:
# stop_words

In [28]:
stop_words = set(nltk.corpus.stopwords.words("english"))

def drop_stopwords(token, stopwords = stop_words):
    token = [token for token in token if token not in stopwords]
    return token

combine_df['tweet_token_filtered'] = combine_df['tweet_token'].\
apply(lambda x:  drop_stopwords(x))

combine_df.head(2)

   id  ...                               tweet_token_filtered
0   1  ...  [father, dysfunctional, selfish, drags, kids, ...
1   2  ...  [thanks, lyft, credit, use, cause, offer, whee...

[2 rows x 6 columns]

13. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [29]:
stemmer = nltk.stem.PorterStemmer()

def stemmming(token, stemmer = stemmer):
  return [stemmer.stem(token) for token in token]

combine_df['tweet_stemmed'] = combine_df['tweet_token'].\
       apply(lambda x: stemmming(x))

In [30]:
combine_df.head(2)

   id  ...                                      tweet_stemmed
0   1  ...  [when, father, is, dysfunct, and, is, so, self...
1   2  ...  [thank, for, lyft, credit, can, not, use, caus...

[2 rows x 7 columns]

14. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [31]:
lemmatizer = nltk.stem.wordnet.WordNetLemmatizer()

def lemmatization(token, lemmatizer = lemmatizer):
  return [lemmatizer.lemmatize(token) for token in token]

combine_df['tweet_lemmatized'] = combine_df['tweet_token'].\
        apply(lambda x: lemmatization(x))

In [32]:
combine_df.head(2)

   id  ...                                   tweet_lemmatized
0   1  ...  [when, father, is, dysfunctional, and, is, so,...
1   2  ...  [thanks, for, lyft, credit, can, not, use, cau...

[2 rows x 8 columns]

15. Сохраним результат предобработки в pickle-файл.

In [33]:
combine_df.to_pickle('tweet_preprocessed.pkl')